.schedules div {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.employees div {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

button {
    transition:font-size 0.5s;
}

button:hover {
    font-size: 38px;
}
