@import '../../config';

.nav-header {
    width: 100%;
    height: fit-content;
    background-color: $background-nav;
    position: fixed;
    top: 0px;
}

.nav-header nav {
    height: 100%;
}

.nav-header a {
    padding: 0.5rem;
    color: $text-primary;
    text-decoration: none;
}

.nav-header ul {
    height: 100%;
    list-style: none;
    display: flex;
    padding: 1rem;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.nav-header li {
    margin: 0 1rem;
}

.nav-header li span {
    padding: 0.2rem;
}

.active-tab {
    color: $text-secondary;
    border-bottom: 2px solid $text-secondary;
}

#title {
    margin: 0;
    font-size: 2rem;
    text-align: center;
    padding-left: 1rem;
    color: $text-secondary
}